@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
  }
  
body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 900px){
 body{
    overflow-y: auto;
 }
}

.ts {
    background-image: repeating-linear-gradient(to bottom right, #e2b142 0px, #fbe87a 50px, #e2b142 100px);
}

.highlight {
    background-color: yellow; 
    transition: background-color 0.5s ease; 
    text-decoration: underline;
  }
  